<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel='stylesheet' href='{{HOME_URL}}stylesheets/admin.css'/>
		<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/nprogress.css">
		<script type="text/javascript"> var HOME_URL = '{{ HOME_URL }}'; </script>
		<script src="{{HOME_URL}}javascripts/notification.js"></script>
		<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
		<script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="loadBar"></div>
		<div class="navigation">
			<ul>
				<a href="{{HOME_URL}}" class="home">
					<li>Գլխավոր էջ</li>
				</a>
				<a href="{{HOME_URL}}admin" class="settings">
					<li>Կառավարակետ</li>
				</a>
				<ul>
					<a href="{{HOME_URL}}admin/home" class="dashboard">
						<li>Գլխավոր էջ</li>
					</a>
					<a href="{{HOME_URL}}admin/design" class="design">
						<li>Արտաքին տեսք</li>
					</a>
					<a href="{{HOME_URL}}admin/profileChanges" class="profile">
						<li>Մուտքանուն, գաղտնաբառ</li>
					</a>
				</ul>
				<a href="{{HOME_URL}}admin/portfolio" class="portfolio">
					<li>Պորտֆոլիո</li>
				</a>
				<ul>
					<a href="{{HOME_URL}}admin/portfolio" class="all">
						<li>Բոլորը</li>
					</a>
					<a href="{{HOME_URL}}admin/portfolio/category" class="category">
						<li>Բաժիններ</li>
					</a>
					<a href="{{HOME_URL}}admin/new/portfolio" class="add">
						<li>Ավելացնել</li>
					</a>
				</ul>
				<a href="{{HOME_URL}}admin/photoshoots" class="photoshoot">
					<li>Ֆոտոշարքեր</li>
				</a>
				<ul>
					<a href="{{HOME_URL}}admin/photoshoots" class="all">
						<li>Բոլորը</li>
					</a>
					<a href="{{HOME_URL}}admin/new/photoshoot" class="add">
						<li>Ավելացնել</li>
					</a>
				</ul>
				<a href="{{HOME_URL}}admin/pages" class="page">
					<li>Էջեր</li>
				</a>
				<ul>
					<a href="{{HOME_URL}}admin/pages" class="all">
						<li>Բոլորը</li>
					</a>
					<a href="{{HOME_URL}}admin/new/page" class="add">
						<li>Ավելացնել</li>
					</a>
				</ul>
				<a href="{{HOME_URL}}admin/decorations" class="decoration">
					<li>Դեկորացիաներ</li>
				</a>
				<ul>
					<a href="{{HOME_URL}}admin/decorations" class="all">
						<li>Բոլորը</li>
					</a>
					<a href="{{HOME_URL}}admin/new/decoration" class="add">
						<li>Ավելացնել</li>
					</a>
				</ul>
				<a href="{{HOME_URL}}admin/logout" class="logout">
					<li>Դուրս գալ</li>
				</a>
			</ul>
		</div>
		<div class="main">
			<h1>{{title}}</h1>
			{% block body %}{% endblock %}
		</div>
		<div id="notifications"></div>
	</body>
	<script type="text/javascript">
        loadProgressBar()
    </script> 
</html>
