{% extends 'adminLayout.twig' %}

{% block body %}
	<div class="adminBlock">
        <h3>Գործողություններ</h3>
		<a href="{{HOME_URL}}">Տեսնել գլխավոր էջը</a>
		<a href="{{HOME_URL}}admin/photoshoots">Բոլոր ֆոտոշարքերը</a>
		<a href="{{HOME_URL}}admin/new/photoshoot">Ավելացնել ֆոտոշարք</a>
		<a href="{{HOME_URL}}admin/pages">Բոլոր էջերը</a>
		<a href="{{HOME_URL}}admin/new/page">Ավելացնել էջ</a>
		<a href="{{HOME_URL}}admin/home">Գլխավոր էջի կառուցվածք</a>
		<a href="{{HOME_URL}}admin/profileChanges">Մուտքանունի, գաղտնաբառի փոխում</a>
	</div>
{% endblock %}
