{% if slides %}
	<div class="slideshow-container">
	{% for slide in slides %}
		<div class="mySlides fade">
			<img src="{{HOME_URL}}images/{{slide.image}}" style="width:100%">
			<a href="{{slide.url}}">
				<div class="text">
					<h2>{{slide.title}}</h2>
					<h3>{{slide.subtitle}}</h3>
				</div>
			</a>
		</div>
	{% endfor %}
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>

	<script src="{{HOME_URL}}javascripts/slide.js"></script>
{% endif %}
