{% extends 'layout.twig' %}

{% block body %}
	<div class="decoration">
		<div class="coverImage" style="background-image: url('{{HOME_URL}}images/{{decoration.mainImage}}')">
			<h3 class="{{decoration.status}}">{{decoration.name}}</h3>
			<p>{% if decoration.type == 'pavilion' %}{% if lang == 'am' %}Տաղավար{% else %}Pavilion{% endif %}{% else %}{% if lang == 'am' %}Հագուստ{% else %}Dress{% endif %}{% endif %}</p>
		</div>
		<div class="decorationDescription">{{decoration.description}}</div>
		<div class="decorationImages">
			{% for img in decoration.images %}
				<span style='background-image: url({{HOME_URL}}images/{{img.url}}' id='{{img.url}})' class="sliderImages img" onclick="openImage(this, false)"></span>
			{% endfor %}
		</div>
	</div>
	<script src="{{HOME_URL}}javascripts/showImages.js"></script>
{% endblock %}
