{% extends 'adminLayout.twig' %}

{% block body %}
	<label for='url'>Հղում</label>
	<input type='text' value='{{portfolio.url}}' id='url' name='url'>
	<label for='nameAM'>Անուն</label>
	<input type='text' value='{{portfolio.nameAM}}' id='nameAM' name='nameAM'>
	<label for='nameEN'>Name</label>
	<input type='text' value='{{portfolio.nameEN}}' id='nameEN' name='nameEN'>
	<label>Նկարագրություն</label>
	<div id='descriptionAM'>
		{{portfolio.descriptionAM}}
	</div>
	<script>
		var descriptionAM = new Quill('#descriptionAM', {
theme: 'snow',
modules: {
toolbar: [
[
{
'size': ['small', false, 'large', 'huge']
}
],
[
{
'header': [
1,
2,
3,
4,
5,
6,
false
]
}
],
[
{
'font': []
}
],
[
'bold', 'italic', 'underline', 'strike'
],
[
{
'script': 'sub'
}, {
'script': 'super'
}
],
[
{
'indent': '-1'
}, {
'indent': '+1'
}
],
[
{
'list': 'ordered'
}, {
'list': 'bullet'
}
],
[
'blockquote', 'code-block'
],
[
{
'color': []
}, {
'background': []
}
],
[
{
'align': []
}
],
['link'],
['clean']
]
}
});
	</script>
	<label>Description</label>
	<div id='descriptionEN'>
		{{portfolio.descriptionEN}}
	</div>
	<script>
		var descriptionEN = new Quill('#descriptionEN', {
theme: 'snow',
modules: {
toolbar: [
[
{
'size': ['small', false, 'large', 'huge']
}
],
[
{
'header': [
1,
2,
3,
4,
5,
6,
false
]
}
],
[
{
'font': []
}
],
[
'bold', 'italic', 'underline', 'strike'
],
[
{
'script': 'sub'
}, {
'script': 'super'
}
],
[
{
'indent': '-1'
}, {
'indent': '+1'
}
],
[
{
'list': 'ordered'
}, {
'list': 'bullet'
}
],
[
'blockquote', 'code-block'
],
[
{
'color': []
}, {
'background': []
}
],
[
{
'align': []
}
],
['link'],
['clean']
]
}
});
	</script>
	<label>Գլխավոր նկար</label>
	{% include 'images.twig' with {id: 'mainImage',image:portfolio.mainImage, HOME_URL} %}
	<label>Նկարներ</label>
	{% include 'slideshow.twig' with {images:portfolio.images, HOME_URL} %}
	<label for='category'>Բաժին</label>
	<select id='category' name='category'>
		<optgroup label="Անհատներ, Individuals">
			{% for category in categories.i %}

				<option value='{"am":"{{category.am}}", "en":"{{category.en}}"}' {% if '{"am":"'~ category.am ~'", "en":"'~ category.en ~'"}' == portfolio.category %} selected {% endif %}>{{category.am}},
					{{category.en}}</option>
			{% endfor %}
		</optgroup>
		<optgroup label="Կոմերցիան, Commercion">
			{% for category in categories.c %}
				<option value='{"am":"{{category.am}}", "en":"{{category.en}}"}' {% if '{"am":"'~ category.am ~'", "en":"'~ category.en ~'"}' == portfolio.category %} selected {% endif %}>{{category.am}},
					{{category.en}}</option>
			{% endfor %}
		</optgroup>
	</select>
	<button {% if portfolio %} onclick="savePortfolio('{{portfolio._id}}')" {% else %} onclick='addPortfolio()' {% endif %}>
		Պահպանել</button>
	<script src="{{HOME_URL}}javascripts/adminPortfolio.js"></script>
{% endblock %}
