{% extends 'layout.twig' %}

{% block body %}
	<div class="portfolio">
		<div class="coverImage" style="background-image: url('{{HOME_URL}}images/{{portfolio.mainImage}}')">
			<h3>{{portfolio.name}}</h3>
			<p>{{portfolio.category}}</p>
		</div>
		<div class="portfolioDescription">{{portfolio.description}}</div>
		<div class="portfolioImages">
			{% for img in portfolio.images %}
				<img src='{{HOME_URL}}images/{{img}}' id='{{img}}' class="sliderImages" onclick="openImage(this)">
			{% endfor %}
		</div>
	</div>
	<script src="{{HOME_URL}}javascripts/showImages.js"></script>
{% endblock %}
